################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Arbalest.Shoot/.vs/Arbalest.Shoot/v16/Server/sqlite3
